{box-sizing: border-box;}
h1 {
    background-color:#cfe2f3;

}
div>table{
    display: inline-block;
    float: left;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
#guestbtn{
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin: 5px;
}
#decktable{
    position: absolute;
    right: 200px;
    bottom: 300px;
    padding: 15px;
}
#playcards{
    position: absolute;
    left: 150px;
    bottom: 200px;
}
#playbuttondiv{
    position: absolute;
    left: 750px;
    bottom: 300px;
    text-align: center;
}
#playbutton{
    position: absolute;
    top: 50%;
}
#timer{
    text-align: center;
}
.button{
    background-color: #cfe2f3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin: 5px;
}
#disclaimer{
    font-style: italic;
    font-size: 16px;
}
